<div class="foodbg"> 
    <h2>ご飯中</h2>
    <div class = "walkimg">
        <div class="loop_wrap">
        <img src="https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/293496581_5298740866886060_3258262314137920131_n.jpg?stp=cp1_dst-jpg&_nc_cat=111&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=q5htEEEwhC8AX_vqmvJ&_nc_ht=scontent-nrt1-1.xx&oh=00_AT-4SY2IHCqFgvH0aGL5zwG5Rw67QFx9Mfr14un_GeKuBg&oe=62DBED57">
        </div>
    </div>
    <div class="walking">
        <%= link_to 'ごちそうさまでした！', dogs_path %>
    </div>
</div>
