<div class= "snackbg">
    <h2>おやつ</h2>
    <div class = "walkimg">
        <div class="loop_wrap">
        <img src="https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/293603501_5298740770219403_4138938983261542800_n.jpg?stp=cp1_dst-jpg&_nc_cat=107&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=0CeD8IaiMskAX_oFasS&_nc_ht=scontent-nrt1-1.xx&oh=00_AT-BxZ0uB-wJRyvZ7GoVMnIGTqLCdH6fE0l6w1Lhp-T9DA&oe=62DB309E">
        </div>
    </div>
    <div class="walking">
        <%= link_to 'けぷ！', dogs_path %>
    </div>
</div>
