<p>散歩</p>
<div class = "walkimg">
    <div class="loop_wrap">
    <img src="https://scontent-nrt1-1.xx.fbcdn.net/v/t39.30808-6/292779654_5289099497850197_941184396425252107_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=LBSUOJ3hEU8AX9z0Shu&_nc_ht=scontent-nrt1-1.xx&oh=00_AT-7uHOLN5hlEAw_9z4xGNvTBXY65TDAsE-3e_7QRBnEzQ&oe=62DA85F7">
    </div>
</div>
<div class="walking">
    <%= link_to 'お散歩終了', dogs_path %>
</div>
