<div class="container-area">
    <div class="container-box">
        
        <h1>検索結果</h1>
        <h6>メニュー数 : <%= @results.count%></h6>
       
        <%= render 'shared/osusume' %>        

        <br>
        <%= render 'shared/menuindex' %>
        <br>
        <%= link_to 'メニューを追加する', new_cook_path %>

    </div>
</div>
