// Place all the styles related to the pets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

.headerdogs {
  background-color: rgb(56, 255, 30);
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  color: aliceblue;
  text-align: center;
}

.headerdogs h1 {
  font-family: "Sacramento", cursive !important;
  color: aliceblue;
}
.mainrdogs {
  text-align: center;
  background-image: url(https://media.istockphoto.com/vectors/illustration-of-interior-japanesestyle-room-vector-id803594574?k=20&m=803594574&s=612x612&w=0&h=HhEY9QrPkRwe4m6piTZGsEEoNeLEMT-hzLdmUfBzqNo=);
  background-position: center !important;
  background-size: cover !important;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 60px 0;
  z-index: 20;
}

.imgcom p {
  margin-top: 20px;
  font-size: 30px !important;
}

//写真
img {
  width: 200px;
  height: 200px;
  border-radius: 40%;
}
.header-user-image {
  width: 40px;
  height: auto;
}

//プルプル
.fluffy:hover {
  -webkit-animation: fluffy 0.8s linear 0s 1;
  animation: fluffy 0.8s linear 0s 1;
}
@-webkit-keyframes fluffy {
  0% {
    -webkit-transform: scale(1, 1) translate(0%, 0%);
  }
  15% {
    -webkit-transform: scale(0.9, 0.9) translate(0%, 5%);
  }
  30% {
    -webkit-transform: scale(1.3, 0.8) translate(0%, 10%);
  }
  50% {
    -webkit-transform: scale(0.8, 1.3) translate(0%, -10%);
  }
  70% {
    -webkit-transform: scale(1.1, 0.9) translate(0%, 5%);
  }
  100% {
    -webkit-transform: scale(1, 1) translate(0%, 0%);
  }
}
@keyframes fluffy {
  0% {
    transform: scale(1, 1) translate(0%, 0%);
  }
  15% {
    transform: scale(0.9, 0.9) translate(0%, 5%);
  }
  30% {
    transform: scale(1.3, 0.8) translate(0%, 10%);
  }
  50% {
    transform: scale(0.8, 1.3) translate(0%, -10%);
  }
  70% {
    transform: scale(1.1, 0.9) translate(0%, 5%);
  }
  100% {
    transform: scale(1, 1) translate(0%, 0%);
  }
}
//揺れる
.zzz {
  animation: zzz 2.5s linear 0s 1;
}

@keyframes zzz {
  0% {
    transform: translate(0%, 0%);
  }
  5% {
    transform: translate(10%, 0%) rotate(10deg);
  }
  25% {
    transform: translate(20%, 0%) rotate(20deg);
  }
  30% {
    transform: translate(-10%, 0%) rotate(-10deg);
  }
  35% {
    transform: translate(-15%, 0%) rotate(-15deg);
  }
  45% {
    transform: translate(10%, 0%) rotate(10deg);
  }
  50% {
    transform: translate(15%, 0%) rotate(15deg);
  }
  60% {
    transform: translate(-5%, 0%) rotate(-5deg);
  }
  65% {
    transform: translate(-7%, 0%) rotate(-7deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}

//怒り
.ikari:hover {
  animation: ikari 0.9s linear 0s 1;
}
@keyframes ikari {
  0% {
    transform: scale(1, 1) translate(0%, 0%);
  }
  10% {
    transform: scale(1.1, 0.9) translate(0%, 5%);
  }
  40% {
    transform: scale(1.2, 0.8) translate(0%, 15%);
  }
  50% {
    transform: scale(1, 1) translate(0%, 0%);
  }
  60% {
    transform: scale(0.9, 1.2) translate(0%, -100%);
  }
  75% {
    transform: scale(0.9, 1.2) translate(0%, -20%);
  }
  85% {
    transform: scale(1.2, 0.8) translate(0%, 15%);
  }
  100% {
    transform: scale(1, 1) translate(0%, 0%);
  }
}

//天気　背景

.maini {
  position: relative;
}
//夏　雨
.img_rain_summer {
  margin: 0;
  padding: 0;
  position: absolute;
  background-image: url(https://thumb.ac-illust.com/b1/b19d65db08e18112a054253584ffd911_t.jpeg);
  background-position: center !important;
  background-size: cover !important;
  width: 100%;
  height: 100vh;
}
.img_rain_summer::before {
  content: "";
  display: block;
  padding-top: 50%;
}
//夏　晴れ
.img_funny_summer {
  background-image: url(http://1.bp.blogspot.com/-tdOvJrXmY84/UnIEQKUnoFI/AAAAAAAAaBQ/RU7rXchzkP4/s800/room_washitsu.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.img_funny_summer::before {
  content: "";
  display: block;
  padding-top: 50%;
}

//俳句
.ikku {
  padding-top: 70px;
}

.simonoku td {
  background-color: whitesmoke;
  opacity: 0;
  animation: rankpoint1 3s ease forwards;
  animation-delay: 5s;
  font-family: cursive !important;
  font-size: 20px !important;
}
@keyframes simonoku {
  100% {
    opacity: 1;
  }
}

.nakanoku td {
  background-color: whitesmoke;
  opacity: 0;
  animation: rankpoint2 3s ease forwards;
  animation-delay: 3s;
  font-family: cursive !important;
  font-size: 20px !important;
}
@keyframes nakanoku {
  100% {
    opacity: 1;
  }
}

.kaminoku td {
  background-color: whitesmoke;
  opacity: 0;
  animation: rankpoint3 3s ease forwards;
  animation-delay: 0.5s;
  font-family: cursive !important;
  font-size: 20px !important;
}
@keyframes kaminoku {
  100% {
    opacity: 1;
  }
}
